* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
}
.main {
  flex: 9;
}
.sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 1000);
  padding: 1rem;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}
.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 1000);
  height: 70%;
}
.uppersideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.midbtn {
  border: none;
  background-color: #5a4bff;
  color: #fff;
  width: 25rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}
.addbtn {
  padding-right: 1rem;
  height: 2rem;
}
.query {
    cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98,98,98,1);
  gap: 2rem;
}

.lowerside {
  padding: 2.5rem;
}
.listitem{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5rem;
    gap: 1.5rem;
    padding: 1rem;
}