* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
}
.main {
  flex: 9;
}
.sidebar {
  flex: 3;
  border-right: 1px solid rgb(100, 100, 1000);
  padding: 1rem;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}
.upperSide {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 1000);
  height: 70%;
}
.uppersideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.midbtn {
  border: none;
  background-color: #5a4bff;
  color: #fff;
  width: 25rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}
.addbtn {
  padding-right: 1rem;
  height: 2rem;
}
.query {
    cursor: pointer;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98,98,98,1);
  gap: 2rem;
}

.lowerside {
  padding: 2.5rem;
}
.listitem{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.5rem;
    gap: 1.5rem;
    padding: 1rem;
}

.main{
  display: flex;min-height: calc(100vh - 14rem);
  align-items: center;
  flex-direction: column;
  margin: 6rem 10rem;
}
.chatsfooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}
.input{
  padding: 1.2rem;
  background-color: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.5rem;
}
.input>input, .send{
  background-color: transparent;
  border: none;
  outline: none;
}
.send{
  cursor: pointer;
}
.input>input{
  font-size: 1.7rem;
  width: 95%;
  color: white;
}

.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: calc(100vh - 17rem);
  max-width: 70rem;
}
.chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
}
.chatImg{
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.bot{
  background-color: rgba(28, 30, 58, 1);
  border-radius: 1rem;
}






/* For a specific div with class 'custom-scrollbar' */
.custom-scrollbar {
  scrollbar-width:thin;
  scrollbar-color: #ebe4e4 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #555;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
